*{
box-sizing: border-box;
margin: 0;
padding: 0;
color: #003049;
}

html{
 font-size: 62.5%
}
body{
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
}

html{
       background:  linear-gradient( #D6FFFD, #ead2e1, #ead2e1); 
     width: auto;

     height: 100%;
     
}

.header-promocional{
   height: 100%;
   display: flex;
   justify-content: center;
   top: 0;
   width: 100%;
   border: 1px solid green;
   background-color: black;
}

.header-promocional span{
   color: white;

}

 