*{
box-sizing: border-box;
margin: 0;
padding: 0;
color: #003049;
}

html{
 font-size: 62.5%
}
body{
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
}

html{
       background:  linear-gradient( #D6FFFD, #ead2e1, #ead2e1); 
     width: auto;

     height: 100%;
     
}

.header-promocional{
   height: 100%;
   display: flex;
   justify-content: center;
   top: 0;
   width: 100%;
   background-color: black;
}

.header-promocional span{
   color: white;
 
}

.header{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}
.logo img{
   width: 20rem;
}

.menu{
   display: flex;
   list-style: none;
}

.menu li {
   margin: 0 0.5rem;

}
.menu li a {
   font-weight: 700;
   text-decoration: none;
 }

.content{
   width: 100%;
   padding: 2rem 1rem;
       text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
  
 
}