*{
box-sizing: border-box;
margin: 0;
padding: 0;
color: #003049;
}

html{
 font-size: 62.5%
}
body{
   font-family: 'Open Sans', sans-serif;
   font-size: 1.6rem;
}

html{
       background:  linear-gradient( #D6FFFD, #ead2e1, #ead2e1); 
     width: auto;

     height: 100%;
     
}

.header-promocional{
   height: 100%;
   display: flex;
   justify-content: center;
   top: 0;
   width: 100%;
   background-color: black;
}

.header-promocional span{
   color: white;
   font-size: 1.1rem;
 
}

.header{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}
.logo img{
   width: 20rem;
}

.menu{
   display: flex;
   list-style: none;
}

.menu li {
   margin: 0 0.5rem ;
   

}
.menu li a {
   font-weight: 700;
   text-decoration: none;
   padding: 0 0.5rem;
  
 }


 .menu li a:hover{
   box-shadow: 0 1px 1px rgba(0,0,0,.1);
   background-color: #f8f9fa;
   border: 1px solid #dadce0;
   color: #202124;
    border-radius: 10px;
}
.content{
   width: 100%;
   padding: 2rem 1rem;
       text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
  
 
}







.amortentia-group{
   width: 100%;
   max-width: 32rem;
   margin: 0 auto ;
   
}

.amortentia-group img{
width: 100%;
}


.routes{
   padding: 2rem 1rem;
   margin: 0.5px;
}

.routes h2{
  
   margin-bottom: 15px;
   font-size: 1.8rem;
}
.routes-img{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   margin: 0 auto;
   justify-content: center;
}

.routes-img img {
   width: 100%;
   max-width: 30rem;
   height: 20rem;
 }


.footer{
   border: 0.1rem solid rgb(231, 186, 186);
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   font-size: 1.5rem;

}
 .footer p {
   font-weight: 700;
   text-align: center;

 }

 